@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit:wght@200&family=Kanit:ital,wght@1,300&family=Lato:wght@900&family=Lobster&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* utility classes */
.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: .2 ease-in-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: .2 ease-in-out;

}

.secondary-button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

/* top banner */
.top-banner {
    background-color: #4fb3d4;
}

.banner-text {
    text-align: center;
    color: white;
    padding: 15px 30px;
}


.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.main-nav {
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
    height: 120px;
}

.nav-link {
    flex-basis: 730px;
}

.nav-link ul {
    justify-content: end;
    gap: 40px;
}

.hover-link {
    color: var(--primary-text-color);
    transition: .4s ease-in-out;
}

.hover-link:hover {
    color: var(--accent-color);
}

/* header */
.header {
    padding: 50px 20px;
}

.header-selection {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-bottom: 20px;
}

.header-right img {
    width: 600px;
}

/* company section */
.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.logo {
    height: 46px;

}

/* features */
.feature-section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(feature1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.feature-header {
    text-align: center;
}

.feature-header h2 {
    margin-bottom: 20px;
}

.feature-area {
    margin-top: 20px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.feature-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.big-feature-container {
    gap: 30px;
}

/* exaples */

.examples-header {
    flex-direction: column;
    gap: 20px;
}

.examples-card {
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    transition: .2s ease-in-out;
}

.examples-card:hover {
    box-shadow: 0 0 10px #514e4e;
}

.example-area {
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    color: white;

}

/* cta */

.cta-section{
    background-color: var(--primary-text-color);
}
.cta-section-block{
    padding-block: 60px;
    color: white;
    flex-direction: column;
    gap: 50px;
}

/* footer sec */

.footer-sec{
    justify-content: space-between;
    padding-block: 70px;
}
.sec{
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.sub-footer{
    background-color:#b9cde4;
    padding: var(--padding-inline-section);
}
.footer-sec-2{
    justify-content:center;
    gap:60px;
}

.footer-sec-2 a{
    color: black;
}