 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2&family=Foldit:wght@200&family=Kanit:ital,wght@1,300&family=Lato:wght@900&family=Lobster&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Sigmar&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit:wght@200&family=Kanit:ital,wght@1,300&family=Lato:wght@900&family=Lobster&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Sigmar&display=swap');

 * {
     padding: 0;
     margin: 0;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     background-color: black;
 }

 .flex {
     display: flex;
 }

 .font {
     font-family: 'Bebas Neue', sans-serif;
 }

 .conatiner {
     max-width: 1200px;
     margin: 120px auto;
 }

 h1 {
     color: white;
     font-family: 'Poppins', sans-serif;
     padding-top: 100px;
     margin: 60px auto;
     letter-spacing: 4px;
     animation: h1 1s ease-in-out infinite alternate;
 }

 @keyframes h1 {

     0% {
         color: white;
     }

     100% {
         color: rgb(101, 245, 235);
     }


 }

 h2 {
     color: red;
     font-family: 'Poppins', sans-serif;
     padding-top: 100px;
     letter-spacing: 4px;
 }



 h3 {
     color: rgb(255, 183, 0);
     font-family: 'Poppins', sans-serif;
 }

 .btn {
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     border: 1px solid black;
     border-radius: 10px;
     width: 90px;
     padding: 4px 10px;
     background-color: #44ed22;
     color: aliceblue;
     transition: .3s ease-in-out;
 }

 .btn-2 {
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     border: 1px solid black;
     border-radius: 10px;
     width: 110px;
     margin-top: 30px;
     padding: 4px 10px;
     background-color: #ed2222;
     color: aliceblue;
     transition: .3s ease-in-out;
 }

 .btn:hover {
     color: black;
     background-color: white;
     cursor: pointer;
     box-shadow: 3px 3px 2px greenyellow;
 }

 .btn-2:hover {
     color: black;
     background-color: white;
     cursor: pointer;
     box-shadow: 3px 3px 1px rgb(255, 85, 47);
 }

 /*Nav bar*/
 .navbar {
     position: fixed;
     top: 0;
     height: 8vh;
     width: 100%;
     justify-content: space-between;
     background-color: black;
     box-shadow: 0px -10px 50px rgb(182, 182, 182);
 }

 .nav-ul {
     align-items: center;
 }

 .nav-list {
     list-style: none;
     margin: 0 20px;
 }

 .nav-a {
     text-decoration: none;
     font-size: large;
     color: rgb(255, 255, 255);
     letter-spacing: 1px;
     transition: .4s ease-in-out;
 }

 .nav-a:hover {
     color: rgb(255, 226, 7);
 }

 /*  */
 .info {
     justify-content: space-around;
 }

 .left-box {
     width: 40vw;
 }

 .left-box-p {
     font-family: 'Poppins', sans-serif;
     color: aliceblue;
     font-size: xxx-large;
     margin-top: 30px;

 }

 /*  */
 .head {
     flex-direction: column;
     margin-top: 220px;
 }


 .box1 {
     text-align: center;
     margin: 40px;
     padding: 20px;
     border: 2px solid whitesmoke;
     height: 200px;
     width: 300px;
     border-radius: 10px;
     box-shadow: 10px 10px 1px whitesmoke;
 }

 .box1-p {
     color: aliceblue;
     margin: 15px;
     font-size: xx-large;
     font-family: 'Bebas Neue', sans-serif;
 }

 .box2 {
     text-align: center;
     margin: 40px;
     padding: 20px;
     border: 2px solid whitesmoke;
     height: 200px;
     width: 1100px;
     border-radius: 10px;
     color: beige;
     font-family: 'Bebas Neue', sans-serif;
     font-size: x-large;
     transition: 2s ease-in-out;
     box-shadow: 10px 10px 1px whitesmoke;
 }

 .box2:hover {
     color: rgba(157, 255, 0, 0.734);
     cursor: pointer;
     letter-spacing: .1px;
 }

 .box3 {
     text-align: center;
     margin: 40px;
     padding: 20px;
     border: 2px solid whitesmoke;
     height: 400px;
     width: 500px;
     border-radius: 10px;
     box-shadow: 10px 10px 1px whitesmoke;
 }

 .img-project {
     height: 340px;
     width: 250px;
     margin: 10px;
     border-radius: 10px;
     transition: .3s ease-in-out;
 }

 .img-project:hover {
     height: 344px;
     width: 255px;
     box-shadow: 1px 1px 10px #514e4e;

 }

 .contact-block {
     margin-top: 220px;
 }

 .contact-left {
     flex-direction: column;
     gap: 20px;
 }

 .contact-left-p {
     color: white;
     display: flex;
     gap: 15px;
     align-items: center;
 }

 .form {
     margin-top: 70px;
     margin-left: 300px;
 }

 .form-item input {
     margin: 5px 5px;
     width: 500px;
     height: 40px;
     font-weight: bold;
     background-color: #514e4e;
     color: whitesmoke;

 }

 .form-item textarea {
     margin: 5px 5px;
     width: 500px;
     height: 140px;
     font-weight: bold;
     background-color: #514e4e;
     color: whitesmoke;
 }

 footer {
     width: 100%;
     height: 60px;
     background-color: #252525;
 }

 footer p {
     text-align: center;
     padding: 20px;
     color: aliceblue;
     font-family: 'Poppins', sans-serif;
 }