@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
    font-size: larger;
}

.box{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg ,black,rgb(4, 4, 116));
    position: relative;
    color: white;
}

h2{
  position: absolute;
  top: 50px;
  left: 32%;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 180px;
}

.clock
{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 225, 0.11);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background-color:red;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top:-50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background-color:rgb(0, 170, 255);
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom:-50px;
    z-index: -1;
}

.clock span{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 110px;
    justify-content: center;
}
.clock span::after{
    position: absolute;
    font-size: 16px;
    bottom:-9px;
    left: 28%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'hours';
}
#min::after{
    content: 'minuits';
}
#sec::after{
    content: 'seconds';
}