* {
    padding: 0;
    margin: 0;
}

/* Nav bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#logo {
    margin: 2px 3px;
}

#logo img {
    height: 60px;
    width: 100px;
    margin: 5px 10px;
    border: 1px solid rgb(2, 1, 1);
}

#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    padding: 0 20px;
}

#navbar ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: block;
    padding: 4px 9px;
    text-decoration: none;
    border-radius: 20px;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#home {
    display: flex;
    height: 547px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home::before {
    content: "";
    background: url(yum1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    font-size: 40px;
}

#home p {
    color: whitesmoke;
    font-size: 17px;
    padding: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home button {
    background-color: rgb(255, 0, 0);
    padding: 4px 15px;
    margin: 20px;
    width: 130px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

#home button:hover {
    background-color: aliceblue;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#service-container {
    text-align: center;
}

#head2 {
    margin: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;
}

#services {
    margin: 20px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    border-radius: 10px;
    height: 300px;
    margin: 0 30px;
    padding: 5px;
    background-color: rgb(248, 248, 238);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#services .box img {
    margin: auto;
    display: block;
    height: 200px;
}

.h2 {
    text-align: center;
}

#client-section {
    height: 344px;
    position: relative;
    margin-bottom: 130px;
}

#client-section::before {
    content: "";
    background: url(c6.jpg) no-repeat center center/cover;
    position: absolute;
    height: 435px;
    width: 99%;
    z-index: -1;
    opacity: 0.4;
    border: 2px solid black;

}

#client-heading {
    text-align: center;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-img {
    height: 300px;
    width: 300px;
    padding: 0 30px;
}

#contact-head {
    text-align: center;
    margin: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: xx-large;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#contact {
    position: relative;
    border: 1px solid black;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(https://images.template.net/107970/food-background-zudna.png) no-repeat center center/cover;
}

#contact-box form {
    width: 40%;
}

.form-group {
    margin-bottom: 20px;

}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border: 3px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    border-radius: 6px;
    background-color: beige;
}

#contact-login {
    border: 3px solid black;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}

#contact-login:hover {
    background-color: yellow;
    border: 3px solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-top: 4px solid rgb(118, 12, 12);
}